<div class="container" *ngIf="formAddProduct">
<!--{{formAddProduct.value | json}}-->
  <form [formGroup]="formAddProduct">  <!--    //ReactiveFormsModule-->
    <div class="form-group  ">
      <label>Name</label>
      <input formControlName="name" type="text" class="form-control ms-3" [ngClass]="{'is-invalid':submitted && formAddProduct.controls['name'].errors}">

      <div *ngIf="submitted && formAddProduct.controls['name'].errors" class="invalid-feedback">
        <div *ngIf="formAddProduct.controls['name'].errors['required']">Name is Required</div>
      </div>


    </div>
    <div class="form-group  ">
      <label>Price</label>
      <input formControlName="price" type="text" class="form-control">
    </div>
    <div class="form-group ">
      <label>Quantity</label>
      <input formControlName="quantity" type="text" class="form-control">
    </div>

    <div class="custom-control custom-checkbox mb-2">
      <input type="checkbox" class="custom-control-input" formControlName="selected"  id="customControlSelect">
      <label class="custom-control-label" for="customControlSelect" >Selected</label>

    </div>

    <div class="custom-control custom-checkbox mb-3">
      <input class="custom-control-input" type="checkbox" formControlName="available"  id="customControlAvailable">
      <label class="custom-control-label" for="customControlAvailable">Available</label>
    </div>

    <button  (click)="onSaveProduct()" class="btn btn-success">Save</button>

  </form>

</div>
